@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 33% 95%; /* #F2EFE7 */
    --foreground: 183 100% 12%;
    --card: 186 38% 88%;
    --card-foreground: 183 100% 12%;
    --popover: 39 33% 95%;
    --popover-foreground: 183 100% 12%;
    --primary: 183 100% 22%; /* #006A71 */
    --primary-foreground: 39 33% 95%;
    --secondary: 186 38% 91%;
    --secondary-foreground: 183 100% 12%;
    --muted: 186 38% 93%;
    --muted-foreground: 183 100% 25%;
    --accent: 181 39% 47%; /* #48A6A7 */
    --accent-foreground: 39 33% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 186 38% 85%;
    --input: 186 38% 88%;
    --ring: 183 100% 22%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 183 100% 5%;
    --foreground: 39 33% 95%;
    --card: 183 100% 10%;
    --card-foreground: 39 33% 95%;
    --popover: 183 100% 5%;
    --popover-foreground: 39 33% 95%;
    --primary: 181 39% 47%; /* #48A6A7 */
    --primary-foreground: 183 100% 95%;
    --secondary: 183 100% 12%;
    --secondary-foreground: 39 33% 95%;
    --muted: 183 100% 10%;
    --muted-foreground: 39 33% 70%;
    --accent: 183 100% 22%; /* #006A71 */
    --accent-foreground: 39 33% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 183 100% 12%;
    --input: 183 100% 12%;
    --ring: 181 39% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
    cursor: none;
  }
  body {
    @apply bg-background text-foreground;
  }
  a, button, [role=button], input[type=submit], input[type=button], select, textarea {
    cursor: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
