@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 80% 98%; /* #FDFCF7 */
    --foreground: 50 10% 20%;
    --card: 52 57% 94%; /* A slightly deeper version of F2EDD1 */
    --card-foreground: 50 10% 20%;
    --popover: 50 80% 98%;
    --popover-foreground: 50 10% 20%;
    --primary: 159 20% 51%; /* #689B8A */
    --primary-foreground: 50 80% 98%;
    --secondary: 52 57% 88%; /* #F2EDD1 */
    --secondary-foreground: 50 10% 20%;
    --muted: 52 57% 92%;
    --muted-foreground: 50 10% 40%;
    --accent: 159 20% 61%;
    --accent-foreground: 50 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 52 30% 84%;
    --input: 52 30% 88%;
    --ring: 159 20% 51%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 40 10% 10%;
    --foreground: 50 50% 90%;
    --card: 40 10% 15%;
    --card-foreground: 50 50% 90%;
    --popover: 40 10% 10%;
    --popover-foreground: 50 50% 90%;
    --primary: 159 20% 51%; /* #689B8A */
    --primary-foreground: 40 10% 10%;
    --secondary: 40 10% 20%;
    --secondary-foreground: 50 50% 90%;
    --muted: 40 10% 20%;
    --muted-foreground: 50 50% 60%;
    --accent: 159 20% 41%;
    --accent-foreground: 50 50% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 10% 25%;
    --input: 40 10% 25%;
    --ring: 159 20% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    cursor: none;
  }
  a, button, [role=button], input[type=submit], input[type=button] {
    cursor: none;
  }
}
